<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Forgot Password</title>
    <script>
        var status = `<%- JSON.stringify(status) %>`;
        console.log(status)
        if(JSON.parse(status) == 1){
            if(confirm("Password Updated! Do you want to Login?")){
                let location = 'http://localhost:3000/login'
                window.location.href=`${location}`
            }
        }
    </script>

</head>

<body>
    <h1>
        <%= email %>
    </h1>
        <form action="" method="post">
            <input type="password" name="password" id="password" placeholder="password" />
            <input type="password" name="confirm-password" id="confirm-password" placeholder="confirm password" />
            <input type="submit" name="password" value="Submit" />

        </form>
</body>

</html>